<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand mt-2 mt-lg-0" href="/blogserver">
                Programmer Server
            </a>
        </div>

        <div class="d-flex align-items-center">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/sheoranharis/programmer-server" target="_blank">
                        Contribute
                    </a>
                </li>
                /*<% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } %>*/

                        <li class="nav-item">
                            <form action="/logout" method="post">
                                <button class="nav-link btn btn-dark">Logout</button>
                            </form>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">

                            </a>
                        </li>
            </ul>
        </div>
    </div>
</nav>-->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a href="/blogserver" class="navbar-brand">Programmer Server</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/sheoranharis/programmer-server" target="_blank">
                        Contribute
                    </a>
                </li>
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } %>

                        <li class="nav-item">
                            <form action="/logout" method="post">
                                <button class="nav-link btn btn-dark">Logout</button>
                            </form>
                        </li>
            </ul>
        </div>
    </div>
</nav>