<% layout('layouts/boilerplate')%>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-7 ">
                    <h4 class="pb-3">Edit <%=blogpost.name%>
                    </h4>
                    <hr class="pb-3">
                    <form action="/blogserver/<%=blogpost._id%>?_method=PUT" method="post" class="needs-validation"
                        novalidate>
                        <div class="card shadow-sm">

                            <div class="card-body">
                                <h5 class="card-title">Blog Post</h5>
                                <div class="mb-3">

                                    <input type="text" class="form-control" value="<%=blogpost.name%>" name="blog[name]"
                                        placeholder="title" required>
                                </div>
                                <div class="mb-3">

                                    <textarea required placeholder="Text" class="form-control" name="blog[write]"
                                        rows="6"><%=blogpost.write%></textarea>
                                    <div class="invalid-feedback">
                                        Title is required
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <hr>
                                <button type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </section>


    <script src="../js/clientvalidation.js"></script>